{% extends 'blog/base.html' %}

{% block content %}

{% include 'blog/setup.html' %}

<div class="page-wrapper">
	<div class="container-fluid">
            
            
    <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Imagen Original</h6>
                </div>
                <div class="card-body">
                  <div style="padding: 20px;">
                    <center>
			{% if post.imagen %}
			
	    	<img src="{{ post.imagen.url}}" style="max-height: 100%; max-width: 100%">
        	{% endif %}
			  </center>
                  </div>
                </div>
              </div>

	</div>
</div>

{% endblock %}
