
<aside id="left-panel" class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                
                <nav class="sidebar-nav nav">
                   
            <div id="main-menu" class="main-menu collapse navbar-collapse">   
            		<ul id="sidebarnav ">
                        
                        
                        
                         <li> <a class="waves-effect waves-dark" href="{% url 'post_thresholding' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Thresholding</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_thresholdAdapted' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">ThresholdAdapted</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_contrast' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Contrast Stretching</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_equalizer' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Ecualizador de Histograma</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_logaritmo' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Logaritmico</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_raiz' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador raiz</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_exponencial' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Exponencial</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_raizpower' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador de potencia</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_adicion' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Adicion</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_sustraccion' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Sustraccion</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_multiplicacion' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Multiplicacion</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_division' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Division</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_blending' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador Blending</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_not' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador NOT</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_and' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador AND</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_or' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador OR</span></a>
                        </li>
                        
                        <li> <a class="waves-effect waves-dark" href="{% url 'post_xor' pk=post.pk %}" aria-expanded="false">
                        	<span class="hide-menu">Operador XOR</span></a>
                        </li>
                    </ul>
                    <div class="text-center m-t-30">
                        <a href="https://wrappixel.com/templates/adminwrap/" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>
                    </div>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


